# common junk to skip
node_modules
dist
.git
.gitignore
*.log
npm-debug.log*
.DS_Store
.nixpacks
.nixpacks.toml
.env
.env.*

# do NOT ignore the manifests/lockfiles
!package.json
!package-lock.json
!pnpm-lock.yaml
!bun.lockb
